---
import ProductVariant from "../../components/ProductVariant";
import { products as allProducts, Product } from "../../data/data";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return allProducts.map((p) => {
    return {
      params: { productId: p.id },
    };
  });
}

const { productId } = Astro.params;
let product: Product | null = null;
if (productId) {
  const products = allProducts.filter(
    (p: Product) => p.id == parseInt(productId)
  );
  if (products.length) {
    product = products[0];
  }
}

---

<Layout title="Arietta Shop">
  <main>
    {
      product && (
        <div class="hero min-h-screen bg-base-200">
          <div class="hero-content flex-col">
            <h2 class="text-5xl font-bold">{product.company} - {product.name}</h2>
            <div class="flex w-full">
              <img
                src={`/images/${product.images[0]}`}
                class="max-w-sm rounded-lg shadow-2xl"
              />
              <div class="pl-4 pb-4">
                <ProductVariant product={product} client:load />
              </div>
            </div>
            <div>
              <p class="py-6">{product.description}</p>
            </div>
          </div>
        </div>
      )
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0.1rem;
    max-width: 120ch; 
  }

</style>
