---
export function getStaticPaths() {
  return [
    { params: { type: ProductType.Rubber } },
    { params: { type: ProductType.Accessories } },
    { params: { type: ProductType.Blade } },
    { params: { type: ProductType.Clothes } },
  ];
}

import { ProductType, products as allProducts, Product } from "../../data/data";
import Layout from "../../layouts/Layout.astro";

import {Client} from "pg";

const { type } = Astro.params;

const products = allProducts.filter((p) => p.productType == ProductType.Rubber);

const client = new Client(import.meta.env.DATABASE_URL);

  // await client.connect();
  // try {
  //   const results = await client.query("SELECT NOW()");
  //   console.log(results);
  // } catch (err) {
  //   console.error("error executing query:", err);
  // } finally {
  //   client.end();
  // }

---

<Layout title="Arietta Shop">
  <main>
    <div class="text-sm breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li>Products</li>
      </ul>
    </div>
    <!-- 
      // TODO: tranlate the type to string and show below
    -->

    <!-- <div class="overflow-x-auto w-full"> -->
    <table class="table w-full">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sale Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {
          products.map((p: Product) => {
            return (
              <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="w-20 h-20">
                        <img
                          src={`/images/${p.images[0]}`}
                          alt={`Avatar ${p.name}`}
                        />
                      </div>
                    </div>
                    <a href={`/product-details/${p.id}`}>
                      <div>
                        <div class="font-bold">{p.name}</div>
                      </div>
                    </a>
                  </div>
                </td>
                <td>AU$ {p.salePrice}</td>
                <th>
                  <a
                    class="btn btn-ghost btn-xs"
                    href={`/product-details/${p.id}`}
                  >
                    details
                  </a>
                </th>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0.1rem;
    max-width: 120ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
